<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.openopen.dao.PersonMapper">
    <resultMap id="BaseResultMap" type="com.openopen.model.Person">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="weight" jdbcType="NUMERIC" property="weight"/>
        <result column="date_no_tz" jdbcType="TIMESTAMP" property="dateNoTz"/>
        <result column="date_with_tz" jdbcType="TIMESTAMP" property="dateWithTz"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, age, address, weight, date_no_tz, date_with_tz
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from person
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from person
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.openopen.model.Person">
        insert into person (id, name, age,
        address, weight, date_no_tz,
        date_with_tz)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER},
        #{address,jdbcType=VARCHAR}, #{weight,jdbcType=NUMERIC}, #{dateNoTz,jdbcType=TIMESTAMP},
        #{dateWithTz,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.openopen.model.Person">
        insert into person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="dateNoTz != null">
                date_no_tz,
            </if>
            <if test="dateWithTz != null">
                date_with_tz,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=NUMERIC},
            </if>
            <if test="dateNoTz != null">
                #{dateNoTz,jdbcType=TIMESTAMP},
            </if>
            <if test="dateWithTz != null">
                #{dateWithTz,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.openopen.model.Person">
        update person
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=NUMERIC},
            </if>
            <if test="dateNoTz != null">
                date_no_tz = #{dateNoTz,jdbcType=TIMESTAMP},
            </if>
            <if test="dateWithTz != null">
                date_with_tz = #{dateWithTz,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.openopen.model.Person">
        update person
        set name = #{name,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER},
        address = #{address,jdbcType=VARCHAR},
        weight = #{weight,jdbcType=NUMERIC},
        date_no_tz = #{dateNoTz,jdbcType=TIMESTAMP},
        date_with_tz = #{dateWithTz,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <!-- 插入時間   -->
    <insert id="insertSelectiveWithTimestamp" parameterType="com.openopen.model.Person">
        insert into person
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="weight != null">
                weight,
            </if>

            date_no_tz,


            date_with_tz,

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                #{age,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=NUMERIC},
            </if>
            NOW(),
            NOW(),
        </trim>
    </insert>


    <!--    設定時區  Asia/Taipei -->
    <update id="setTimezone">
        SET timezone to 'Asia/Taipei'
    </update>
</mapper>